<header class="w-full max-w-3xl mx-auto px-4 border-b border-gray-200 py-4">
  <div class="flex justify-between items-center">
    <div>
      <a href="/" class="font-bold text-sm text-gray-600 hover:text-gray-900 transition">احمد کریمی</a>
    </div>
    <div class="flex gap-4">
      <a href="/blog" class="font-bold text-sm text-gray-600 hover:text-gray-900 transition">وبلاگ</a>
    </div>
  </div>
</header>