---
title: خانه
layout: base.njk
---

<main class="flex-1 flex justify-center items-center">
  <div class="text-center">
    <img src="/assets/images/me.jpeg" alt="احمد کریمی" width="256" height="256" class="rounded-full mx-auto mb-8" draggable="false">
    <h1 class="font-bold text-2xl md:text-4xl mb-8">احمد کریمی</h1>
    <nav class="flex justify-between md:gap-4">
      <a href="/blog" class="text-xs sm:text-sm md:text-base text-gray-600 hover:text-gray-900 transition">وبلاگ</a>
      <a href="https://www.linkedin.com/in/ahmadkarimi1991" target="_blank" rel="noopener" class="text-xs sm:text-sm md:text-base text-gray-600 hover:text-gray-900 transition">لینکدین</a>
      <a href="https://github.com/ahmadkarimi1991" target="_blank" rel="noopener" class="text-xs sm:text-sm md:text-base text-gray-600 hover:text-gray-900 transition">گیت‌هاب</a>
      <a href="https://twitter.com/ahmadkarimi1991" target="_blank" rel="noopener" class="text-xs sm:text-sm md:text-base text-gray-600 hover:text-gray-900 transition">توییتر</a>
      <a href="https://virgool.io/@ahmadkarimi" target="_blank" rel="noopener" class="text-xs sm:text-sm md:text-base text-gray-600 hover:text-gray-900 transition">ویرگول</a>
    </nav>
  </div>
</main>